<section class="section-features">
  <div class="feature-def feature feature1">
    <div class="feature__image-wrapper">
      <img
        class="feature__image"
        alt="about us undraw svg"
        src="./svg/about-us_svg.svg"
      />
    </div>

    <div class="feature__main">
      <h2 class="feature__heading">What we’re about</h2>
      <p class="feature__content">
        Etracky is an online exercise tracker where structuring your workouts
        has never been easier. We do extensive research on the best features and
        turn them into this concise exercise tracking tool.
      </p>
    </div>
  </div>

  <div class="feature-def feature feature2">
    <div class="feature__main">
      <h2 class="feature__heading">Track Your Progress</h2>
      <p class="feature__content">
        Utilize our simple yet practical dashboard and make your life easier.
        See your progress with beautifully designed graphs and never struggle
        again to complete exercise routine.
      </p>
    </div>

    <div class="feature__image-wrapper">
      <img
        class="feature__image"
        alt="track progress undraw svg"
        src="./svg/track-progress_svg.svg"
      />
    </div>
  </div>

  <div class="feature-def feature feature3">
    <div class="feature__image-wrapper">
      <img
        class="feature__image"
        alt="iphone mockup graph"
        src="./svg/navigator_svg.svg"
      />
    </div>

    <div class="feature__main">
      <h2 class="feature__heading">Easy To Navigate</h2>
      <p class="feature__content">
        We have combined rich features with a straightforward interface.
        Register now and relish in our platform to your heart’s content. Give it
        a try. We know you’ll love it. Etracky is here for you.
      </p>
    </div>
  </div>
</section>
