<section class="section-hero">
  <div class="hero-main">
    <h2 class="hero-main__heading">Fitness starts with organization</h2>

    <p class="hero-main__content">
      Take the timeout to organize your workout sessions so that you can be as
      effective as possible. We will the whole process as simple as possible.
    </p>

    <a href="/auth/register">
      <div class="btn get_started-btn">Get Started</div>
    </a>
  </div>

  <div class="hero-svg-wrapper">
    <img
      width="680px"
      height="auto"
      class="hero-svg"
      alt="workout undraw svg"
      src="./svg/hero_svg.svg"
    />
  </div>
</section>
