<section class="section-reviews">
  <h2 class="review-heading">What people are saying about us</h2>
  <div class="reviews">
    <div id="review-1" class="review">
      <span class="review__stars">★★★★★</span>
      <span class="review__quotation">"</span>
      Best exercise tracker application ever
    </div>
    <div id="review-2" class="review">
      <span class="review__stars">★★★★★</span>
      <span class="review__quotation">"</span>
      Easy, concise, clean just great. I love it
    </div>
    <div id="review-3" class="review">
      <span class="review__stars">★★★★★</span>
      <span class="review__quotation">"</span>
      I have tried a lot of online trackers but none of them were as good as
      etracky
    </div>
    <div id="review-4" class="review">
      <span class="review__stars">★★★★★</span>
      <span class="review__quotation">"</span>
      I would recommend this to anyone who is having trouble organizing their
      exercises
    </div>
    <div id="review-5" class="review">
      <span class="review__stars">★★★★★</span>
      <span class="review__quotation">"</span>
      Five stars ! I was struggling with keeping up with my routine but when I
      started using etracky everything changed
    </div>
  </div>
</section>
