<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Etracky Dashboard</title>
  <link rel="stylesheet" href=".\css\main.52e9d2e4.chunk.css">
  <script defer src=".\js\2.f966ba75.chunk.js"></script>
  <script defer src=".\js\main.2b5fa6a5.chunk.js"></script>
  <script defer src=".\js\runtime-main.4b3a31a9.js"></script>


</head>

<body>
  <main id="root"></main>


</body>

</html>