<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Etracky Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href=".\css\main.3626d44c.chunk.css">
    <script defer src=".\js\2.1126d8cc.chunk.js"></script>
    <script defer src=".\js\main.360cb9b3.chunk.js"></script>
    <script defer src=".\js\runtime-main.4b3a31a9.js"></script>


  </head>
  <body>
    <main id="root"></main>

    <script>
      // Question 1 : Is this a registered business
      // Question 2 : Do you want the business card to include the website
      // Question 3 : Does your company have completed projects
      // Question 4 :
      // Please answer the questions in the format they are given
    </script>
  </body>
</html>
