/* Begin Base Setup Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  /* padding: 5rem; */
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Header Styling */
.header {
  display: flex;
  padding: 5rem;
  height: 26rem;
}
.header__logo {
  color: rgb(32, 78, 250);
  font-weight: 500;
}
.header__btn {
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 4rem;
  min-width: 18rem;
  text-align: center;
  cursor: pointer;
  height: 6rem;
}
.header__login-btn {
  margin-left: auto;
  background-color: rgb(102, 176, 255);
}
.header__signup-btn {
  background: #204efa;
}

/*  */

/* Hero Styling */
.section-hero {
  margin-top: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
}
.hero-main__heading {
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  width: 50rem;
}
.hero-main__content {
  width: 43rem;
  font-size: 1.6rem;
}
.get_started-btn {
  width: 30rem;
  height: 7rem;
  background-color: #3ceb7d;
  border-radius: 0.7rem;
  font-size: 2.5rem;
  margin-top: 4rem;
  color: rgb(0, 0, 0);
}
.hero-svg-wrapper {
  text-align: right;
  margin-top: -6rem;
}
.hero-svg {
  height: 40rem;
  width: 60rem;
}

/*  */
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* Section Features */
.section-features {
  margin-top: 10rem;
}
.feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0;
  height: 50vh;
}
.feature__heading {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  text-align: left;
}
.feature__content {
  font-size: 2rem;
  width: 50rem;
}
.feature__main {
  margin-top: 3rem;
}

.feature-def .feature__image {
  width: 50rem;
  height: 30rem;
}
.feature1 h2 {
  width: auto;
}
.feature1 .feature__image-wrapper {
  text-align: left;
  margin: 0 3rem;
  background: transparent;
}

.section-reviews {
  margin-top: 10rem;
  height: 60vh;
}
.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.review-heading {
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
}
.review {
  background-color: rgb(249, 249, 249);
  margin: 3rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
.review__stars {
  color: gold;
  display: block;
  margin: 1rem;
}
.review__quotation {
  color: #6d8af3;
}
#review-1 {
  width: 25rem;
}
#review-2 {
  width: 25rem;
}
.review-5 {
  justify-self: flex-end;
}
.footer {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10rem;
}
.footer__svgWrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #204efa;
  padding: 0;
}

.custom-shape-divider-top-1617651001 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1617651001 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 300px;
}

.custom-shape-divider-top-1617651001 .shape-fill {
  fill: #ffffff;
}
/* Fade in animations */
.fade-right {
  animation: fade-right 1.2s 1;
}
.fade-left {
  animation: fade-left 1.2s 1;
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(8rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
