.workoutlog {
  padding: 3rem;
  height: 100%;
  --exerciseBorderColor: rgb(221, 221, 221);
}
.workoutlog__heading {
  font-size: 2.5rem;
}
.workoutlog__heading span {
  font-size: 1.6rem;
  color: rgb(100, 100, 100);
}
.workoutlog__add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
}
.workoutlog__inputsWrapper {
  display: flex;
  justify-content: space-between;
}
.workoutlog__inputsWrapper label {
  font-size: 1.4rem;
}
.MuiInputBase-root {
  margin: 1rem;
}
#date-picker-inline,
#time-picker {
  font-size: 1.4rem;
}
.workoutlog__input {
  border: none;
  outline: none;
  border-radius: 4rem;
  margin: 2rem 1rem;
}
.workoutlog__addInput {
  padding: 1.3rem;
  width: 30rem;
  box-shadow: 0 0.2rem 2rem var(--defaultBoxShadow);
  text-transform: capitalize;
}
.rdrCalendarWrapper {
  position: absolute;
  bottom: 20rem;
  z-index: 100;
  box-shadow: 0 0.2rem 2rem var(--defaultBoxShadow);
}
.workoutlog__dateInput {
  padding: 0.8rem;
}
.workoutlog__addSubmit {
  padding: 1.4rem;
  width: 25rem;
  outline: none;
  border: none;
  border-radius: 4rem;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}
.workoutlog__addSubmit:hover {
  background-color: rgba(52, 152, 219, 0.849);
}
.workoutlog__exerciseWrapper {
  overflow-y: scroll;
  height: 30rem;
  scroll-behavior: smooth;
  margin-top: 4rem;
}
.workoutlog__exercise {
  width: 70%;
  list-style: none;
  margin: 2rem auto;
  padding: 1.5rem;
  color: rgb(58, 58, 58);
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0 0.2rem 2rem var(--defaultBoxShadow);
  border-radius: 0.2rem;
}
.workoutlog__exerciseCompleted {
  margin: 1rem;
}
.workoutlog__exerciseIcons {
  display: flex;
  position: absolute;
  right: 4rem;
}
.workoutlog__exerciseContent span {
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem;
  margin-left: 2rem;
}
.workoutlog__exerciseDeleteModal {
  width: 35rem;
  height: 15rem;
  padding: 4rem;
  background-color: #fff;
  box-shadow: var(--defaultBoxShadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
}
.modal-bg {
  opacity: 0.8;
  background-color: black;
  height: 110vh;
  width: 100vw;
  z-index: 19;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-optionsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.modal-optionYes {
  color: red;
}
.modal-optionCancel {
  color: blue;
}
